Repository awesomemotive/easy-digital-downloads, pull requests merged in 2022-08, with the labels that each got.

#9294 Adds support for a 'global' tax rate using the All Countries and * as the value.
  assets/css/admin/tax-rates/_add.scss
  assets/css/edd-admin-tax-rates-rtl.min.css
  assets/css/edd-admin-tax-rates.min.css
  assets/js/admin/settings/tax-rates/views/table-add.js
  assets/js/edd-admin-tax-rates.js
  includes/admin/class-edd-notices.php
  includes/admin/payments/orders.php
  includes/admin/settings/register-settings.php
  includes/admin/tools.php
  includes/admin/upgrades/v3/class-data-migrator.php
  includes/admin/upgrades/v3/class-tax-rates.php
  includes/admin/views/tmpl-tax-rates-table-add.php
  includes/admin/views/tmpl-tax-rates-table-row.php
  includes/class-edd-cli.php
  includes/compat/class-tax.php
  includes/database/tables/class-customer-meta.php
  includes/database/tables/class-customers.php
  includes/tax-functions.php
  tests/orders/tests-payments-back-compat.php
  tests/taxes/tests-tax-rates-compat.php
  tests/taxes/tests-tax-rates.php
  tests/taxes/tests-tax.php
  tests/tests-migration.php
Labels: component-taxes, workflow-needs-testing, workflow-has-pr, type-regression

#9383 Set ID on order address region text input
  includes/admin/payments/orders.php
Labels: type-bug, component-taxes, component-administration, workflow-needs-testing

#9387 Hour by Hour graph grouped only by hour, not day
  includes/reports/reports-functions.php
Labels: type-bug, component-reports, workflow-needs-testing
